h1 {
	font-family:helvetica;
}

ul {
	line-height:30px;
}

nav ul li a {
	text-decoration:none;
	color:black;
	font-size:12px;
	font-family:helvetica;

}

a {
	color:white;
}



.sidebar {
	position:fixed;
	width:140px;
	height:100%;
	background-color:white;
	border-style:solid;
	border-color:black;
	
}

.sidebarinfo {
	position:relative;
	padding:20px;
}

.logo {
	width:15vw;
}

.sidebar h1 {
	font-size: 15px;
	color:black;
	padding-top:20px;
	padding-bottom:10px;
}

.socialmedia {
	width:25px;
	height:25px;
	padding-top:10px;
	padding-right:2.5px;
}

.body {
	position:relative;
	margin-left:150px;
	width: 100%;
	display:grid;
	grid-template-columns: 1fr;
	grid-gap: .5em;
}

.column {
width:100%;
}





@media only screen and (min-width:768px) {




}
