body {color: white;}



header, nav, main, footer {
	margin: 0;
}


/* Header styles */
header { 
	background-color: ;
	color: Grey;
	min-height: 100px;
	margin-top: 200px;
	margin-bottom: 200px;
	font-size:100px;
	font-family: 'Comfortaa', cursive;

}

header h1 {
	padding: 60px 60px;
}


/* Nav styles */
nav {}
nav ul { 
	display: inline;
	justify-content: flex-end;
	margin: 20px

}
nav li { padding: 10px 10px; }
nav a { color: Grey; }
nav a:hover { color: blue; }


/* Main styles */
main { 
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #000;
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; }
