body 


header, nav, main, footer 
{margin: 0;}


/* Header styles */
header { 
	background-color: ;
	color: Grey;
	min-height: 100px;
	margin-top: 200px;
	margin-bottom: 200px;
	font-size:100px;
	font-family: 'Comfortaa', cursive;}

h1 {	
	font-size: 100px;
	margin-top: 20vh;
	text-align: center;}


/* Nav styles */
nav {
	margin: 0;
	list-style-type: none;
	display: grid; 
	grid-template-columns: 1fr;
	justify-content: flex-end;
	width: 100%;
	text-align: center;
}

nav li { display: inline; }
nav a {
	color: #f8f0db;
	margin-left: 16px;
}

nav ul { 
	display: inline;
	justify-content: flex-end;
	margin: 20px

}
nav li { padding: 10px 10px; }
nav a { color: Grey; }
nav a:hover { color: pink; }


/* Main styles */
main { 
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}



/* Footer styles */
footer { 
	background-color: #000;
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; }
